
h1.titulo{
    text-align: center;
    background-color: orange;
}

div.area{
    text-align: center;
}
div.oficinas{
    text-align: center;
}
div.departamento{
    text-align: center;
}